.contactsList {
  padding: 0;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: .5rem;
  user-select: none;
}

.contact {
  display: flex;
  cursor: pointer;
  list-style-type: none;
  padding: .5rem 1.5rem;
}

.contact.selected,
.contact:hover {
  background-color: var(--color-panel-dark);
}

.contact p {
  margin: 0;
}

.name {
  font-weight: bold;
}

.nameContainer {
  display: flex;
  gap: .25rem;
}

.email {
  color: var(--color-text-secondary);
}

.avatar {
  --size: 36px;
  height: var(--size);
  width: var(--size);
  border-radius: 10px;
  height: 36px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  gap: .35rem;
  white-space: nowrap;
  text-align: right;
  margin-left: auto;
}

.details {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin: 0;
  width: 100%;
}

:host ::ng-deep .mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
