:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: 14px;

  /* colors */
  --color-bg: hsl(0, 0%, 100%);
  --color-main-accent: hsl(235, 16%, 57%);
  --color-active-accent: hsl(249, 53%, 57%);
  --color-panel: hsl(250, 100%, 99%);
  --color-panel-dark: hsl(250, 100%, 97%);
  --color-border: hsl(227, 29%, 94%);
  --color-border-dark: hsl(235, 16%, 57%);
  --color-text-primary: hsl(200, 5%, 11%);
  --color-text-secondary: var(--color-main-accent);

  /* notifications */
  --info-light-bg: #d6f0ff;
  --info-medium-bg: #99d9ff;
  --info-dark-bg: #3bb7fd;
  --success-light-bg: #c2f3d6;
  --success-medium-bg: #96eab8;
  --success-dark-bg: #25ad61;
  --warning-light-bg: #fedb9b;
  --warning-medium-bg: #ffd080;
  --warning-dark-bg: #fda600;
  --warning-darker-bg: #d08700;
  --error-light-bg: #ffe1e3;
  --error-medium-bg: #ff99a4;
  --error-dark-bg: #fe4557;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: auto;
}

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-bg);
}

body,
a {
  color: var(--color-text-primary);
}

input,
textarea,
select {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-active-accent);
  font-family: Lato, sans-serif;
}

p {
  margin: 0;
}

p+p {
  margin-top: 1rem;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-main-accent);
  margin: 8px 0;
}

p {
  margin: 0;
}
