@use '../base.module.scss';

.addresses {
  margin: 0;
  padding: 0;
  list-style: none;
}

.addressDetail {
  white-space: pre-wrap;
}

.address {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
