// p + p {
//   margin-top: .4rem;
// }

.grid {
  display: grid;
}

.container {
  padding: 40px;
}

.head {
  align-items: center;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: .75rem;
  margin-bottom: 3rem;

  p {
    margin: 0;
  }
}

.details {
  display: flex;
  flex-direction: column;
}

.avatar {
  --size: 114px;
  border-radius: 26px;
  height: var(--size);
  width: var(--size);
}

.name {
  display: flex;
  gap: .25rem;
  font-size: 20px;
  font-weight: bold;
}

.email {
  color: var(--color-text-secondary);
}

.buttons {
  display: flex;
  gap: 6px;
  margin-top: auto;
}

.detailItems {
  display: grid;
  gap: .5rem;
  margin-top: 40px;
}

.content {
  height: 100%;

  display: grid;
  gap: 1rem;
  align-items: start;
  grid-template-columns: minmax(100px, max-content) 2fr;
  grid-template-areas: "left right";
}

.heading,
.left {
  // background-color: var(--color-panel);
  // border: 1px solid var(--color-border);
  // border-top: 0;
  // border-bottom: 0;
  // grid-area: left;

  max-width: max-content;
}

.right {
  grid-area: right;
}

.heading {
  font-size: inherit;
  margin: 0;
}

.info {

}
